/* BACKGROUND COLOR*/

body {
    background-color: black;
    }
    
    /*BORDER BOX*/
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    /*NAVIGATION MENU STYLING*/
    
    .menu-area li a {
        text-decoration: none;
        color: #fff;
        letter-spacing: 1px;
        text-transform: uppercase;
        display: fex;
        padding: 0 25px;
        font-size: 14px;
        line-height: 25px;
        position: relative;
        z-index: 1;
        font-family: "helvetica";
    }
    
    .menu-area li { 
           display: inline-flex;
        justify-content: flex-end;
        flex-wrap: nowrap;
        flex-direction: row;
        flex-flow: nowrap;
        min-width: auto;
        text-overflow: ellipsis;
       
        }
  
    .menu-area {
        display: flex;
       justify-content: right;
       position: relative;
       justify-content: flex-end;
       flex-wrap: nowrap;
       resize: horizontal;
    }

    nav {
        position: relative;
        padding: 10px 20px 10px 10px;
        text-align: right;
        z-index: 1;
        opacity: 100%;
          }
    
    .nav-text {
        flex-wrap: nowrap;
        justify-content: center;
        float: right;
    
    }

    .rounded-button {
        background-color: black;
        border: none;
        color: black;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: -9px 2px;
        border-radius: 6px;
    }
   

    .menu-area li a:hover {
        background: slategrey;
        color: #fff;
    }
    
    /* LOGO PLACEMENT*/
    
    .img-fluid {
       width: 75px;
        height: 75px;
        float: left;
        object-fit: contain;
        margin: 37px;
        margin-top: 10px;
    }
    
    /*HERO SECTION*/
    
    .hero {
        background-image: url("../css/Group-172x-p-1600.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #080808;
        height: 90vh;
        opacity: 100%;
    }
    
    .hero-inner {
        padding-left: 50px;
        padding-right: auto;
        padding-top: 190px;
        padding-bottom: auto;
        height: 300px;
        width: 500px;
        display: flexbox;
        flex-wrap: nowrap;
        flex-direction: row;
    }
    
    .navigation {
    float:right;
    }
    
    * {
      box-sizing: border-box;
    }
    
    .img {
         display: block;
         margin-left: auto;
         margin-right: auto;
         margin-bottom: 30px;
     }
    
    /*PORTFOLIO CARD PLACEMENT*/
    
    .row {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    
    }
    
    
    
   
    /* Style inputs with type="text", select elements and textareas */
    
    input[type=text], select, textarea {
      width: 600px; 
      padding: 12px;  
      border: 1px solid #ccc; 
      border-radius: 4px; 
      box-sizing: border-box; 
      margin-top: 40px; 
      margin-bottom: 40px; 
      margin-left: 20px;
      margin-right: 20px;
      resize: vertical; 
      resize: horizontal;
      font-family: "helvetica";
    }
    
    
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      background-color: #6b95e2;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      margin-left: -725px;
    }
    
    /*CONTACT FORM STYLING/
    
      
    /* Add a background color and some padding around the form */
    .container {
      /*border-radius: 0px;*/
      background-color: #222121;
      padding: 20px;
      font-family: "helvetica";
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      color:whitesmoke;
      /*display: flex;
      align-items: center;
      justify-content: center;*/
    
    }
    
    
    label {
        display: inline-block;
        width: 250px;
        text-align: left;
        color: whitesmoke;
        margin: 20px;
        margin-top: auto;
        margin-bottom: auto;
        
    }
    
    .other label {
        text-align: left;
        color: whitesmoke;
        margin-top: auto;
    }
    
    /*FOOTER*/

    /*footer {
        padding: 150px;
    }
*/
    .footer-container {
        max-width: 90%;
        margin: auto;
        padding: 0 20px;
        display:flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(65, 64, 64);
        flex-wrap: nowrap;
     
        
    }
    
    .logo {
        width: 50px;
        height: 50px;
           float: left;
        object-fit: contain;
        margin: 37px;
        margin-top: 25px;
    }
 
    .text {
        font-family: Arial, Helvetica, sans-serif;
        color: whitesmoke;
        margin: 30px;
    }